<!DOCTYPE html>
<html>
<head>

<title>Analysis</title>

<style>

body{
font-family:Arial;
background:#fff8e1;
text-align:center;
margin-top:100px;
}

.card{
width:60%;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
}

button{
background:orange;
color:white;
padding:12px 25px;
border:none;
border-radius:5px;
}

</style>

</head>

<body>

<div class="card">

<h1>Step 3 : Analyze Student Activities</h1>

<p>Average Login Frequency : {{ login_avg }}</p>

<p>Average Quiz Score : {{ quiz_avg }}</p>

<a href="/predictpage">
<button>Next</button>
</a>

</div>

</body>
</html>
