<!DOCTYPE html>
<html>
<head>

<title>Preprocess Data</title>

<style>

body{
font-family:Arial;
background:#eafaf1;
text-align:center;
margin-top:100px;
}

.box{
width:60%;
margin:auto;
background:white;
padding:30px;
border-radius:10px;
}

button{
background:green;
color:white;
padding:12px 25px;
border:none;
border-radius:5px;
}

</style>

</head>

<body>

<div class="box">

<h1>Step 2 : Preprocess Data</h1>

<p>Missing Values : {{ missing }}</p>

<p>Dataset Cleaned Successfully</p>

<a href="/analysis">
<button>Next</button>
</a>

</div>

</body>
</html>
